<section class="container">
  <section>
    <div class="page-header">
      <h1>Donorpins</h1>
    </div>
    <div class="list-group">
      <a ng-repeat="donorpin in vm.donorpins"
         ui-sref="donorpins.view({ donorpinId: donorpin._id })"
         class="list-group-item">
        <small class="list-group-item-text">
          Posted on
          <span ng-bind="donorpin.created | date:'mediumDate'"></span>
        </small>
        <h4 class="list-group-item-heading" ng-bind="donorpin.name"></h4>
      </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="vm.donorpins.$resolved && !vm.donorpins.length">
      No Donorpins yet, why don't you <a ui-sref="donorpins.create">create one</a>?
    </div>
  </section>
</section>
